<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67954605-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-67954605-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Garga,Edebiyat,Dergi,Deneme,Özgür">
    <meta name="description" content="Özgür bir dergi sitesi">
    <meta name="author" content="Garga">
    <link rel="stylesheet" href={{ url_for('static', filename='master.css') }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>
    <script type="text/javascript" src="/static/image-defer.min.js" defer></script>
    {% if text_name %}
        <title>{{ text_name }} | GARGA </title>
    {% else %}
        <title> GARGA </title>
    {% endif %}

</head>
<body>
{% block topnav %}
    <div class="topnav" id="topnav">
        <div class="flex_box">
            <a class="svg1" id="svg1" onclick="midmenu('menu1_content')"></a>
            <h2 class="header" onclick="toHome()">Garga</h2>

            <div class="dropdown_list">
                <div class="desktop_menus">
                    <a href="/kimiz">Biz Kimiz?</a>
                    <a href="/kilavuz">Kılavuz</a>
                    <a href="/ekle">İçerik Ekle</a>
                    <input id="search" type="text" placeholder="Bul...        &#x1F50D">
                </div>
                <div class="droper" id="droper"></i>
                    <div class="liner"></div>
                    <div class="liner"></div>
                    <div class="liner"></div>
                </div>
                <div class="dropdown-content" id="myDropdown">
                    <input id="search1" class="searcher" type="text" placeholder="Bul... &#x1F50D">
                    <a href="/kimiz">Biz Kimiz?</a>
                    <a href="/kilavuz">Kılavuz</a>
                    <a href="/ekle">İçerik Ekle</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#header').click(function () {
            window.location.replace("/");
        });
        function toHome() {
            window.location.replace("/");
        }

        $('#droper').click(function () {
            document.getElementById('myDropdown').classList.toggle("show");
            console.log("halseyy!")
        });
        $('#liner').click(function () {
            document.getElementById('myDropdown').classList.toggle("show");
            console.log("halseyy!")
        });
        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                console.log("that nice!!!");
                var searchkey = document.getElementById("search").value;
                console.log(searchkey);
                window.location.replace('/search?key='.concat(searchkey));
            }
        });
        $("#search1").keyup(function (event) {
            if (event.keyCode === 13) {
                console.log("that nice!!!");
                var searchkey = document.getElementById("search1").value;
                console.log("asdf0");
                window.location.href = '/search?key='.concat(searchkey);
            }
        });
    </script>
{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
</body>