@font-face {
    font-family: 'Nexa_Bold'; /*a name to be used later*/
    src: url('https://garga.ist/nexa/nexa_light-webfont.ttf'); /*URL to font*/
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.topnav {
    overflow: visible;
    background-color: #262624;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.0rem;
    z-index: 1;
    display: inline-block;
    align-items: center;
}

.svg1 {
    background-image: url('/static/images/garga.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.0rem;
    height: 4.0rem;
    margin-left: 17px;
    margin-top: 13px;
}

.flex_box {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 5.0rem;
    align-self: center;
}

.menus {
    order: 2;
    flex-grow: 0.3;
    text-align: center;
}

.topnav .header {
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}

.topnav a.active {
    background-color: #F35848;
    color: white;
}

.texter_container {
    width: 100%;
    height: 7.0rem;
}

.text_view, .text_preview {
    background-color: transparent;
    border-bottom: 1px solid #262624;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    width: 95%;
    text-align: left;
    position: relative;
    word-wrap: break-word;
    max-width: 1000px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.text_header {
    position: relative;
    vertical-align: top;
}

.mahlas {
    text-align: right;
    font-style: italic;
}

.text_view {
    font-size: 20px;
}

@media (max-width: 1580px) {
    .text_view {
        font-size: 18px;
    }
}

@media (max-width: 980px) {
    .text_view {
        font-size: 16px;
    }
}

p, h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.sentence_view {
    background-color: #4CAF50;
    align: center;
    width: 90vw;
    margin: auto;
    min-height: 5em;
    max-width: 1000px;
    line-height: 1.2em;
    text-align: left;
    position: relative;
    left: 10px;
    font-size: 20px;
}

.sentence_view h3 {
    right: 10px;
    position: relative;
    text-align: right;
    font-style: italic;
}

.menu1 {
    order: 0;
    border: 1px solid #d7d8cd;
    border-radius: 5px;
    margin-bottom: 1px;
}

.dropdown_list {
    float: left;
    overflow: hidden;
    order: 2;
    margin-left: auto;
}

.menu2 {
    order: 3;
    border: 1px solid #d7d8cd;
    border-radius: 5px;
    margin-bottom: 1px;
}

.dropdown_list .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: 0px;
    outline: 0px;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}


button::-moz-focus-inner {
    border: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0.0rem;
}

.duzyazi, .avatar, .image_preview {
    display: none;
}

.text_preview {
    display: none;
}
.text_view a{
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-content a, input {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid black;
    font-family: inherit;
    width: 10rem;
}

.show {
    display: block;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
    margin: 0 0.5rem 0.5rem 0;
}

ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: black;
    font-weight: bold;
}

.table_view{
    padding: 8px;
    background-color: transparent;
    border-bottom: 1px solid #262624;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    width: 95%;
    text-align: left;
    position: relative;
    word-wrap: break-word;
    max-width: 1000px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}
.table_view td, th {
    padding: 8px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.collider{
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    max-width: 1000px;
    margin: 0px auto;
    font-family: 'Quicksand', sans-serif;
    margin-top: 2.0rem;
}

img {
    width: 100%;
    height: auto;
    max-height: 25rem;
    object-fit: cover;
}

@media only screen and (min-device-aspect-ratio: 1/1) {
    #myDropdown, #dropbtn {
        display: none;
    }

    .desktop_menus {
        display: flex;
    }

    .desktop_menus a {
        color: #A8A9AB;
        font-size: 1.0rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        text-decoration: none;
        text-align: center;
        margin-right: 1.0rem;
    }

    .desktop_menus input[type=text] {
        color: #A8A9AB;
        font-size: 1.0rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        text-decoration: none;
        text-align: center;
        margin-right: 1.0rem;
        background-color: #000000;
        padding: 0px;
        border: 0px;
        max-width: 7rem;
        border-radius: 10px;
    }

    ::placeholder {
        color: #A8A9AB;
        font-size: 1.0rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        text-decoration: none;
        margin-left: 2px;
    }
    .text_view, .text_preview {
        width: 40%;
    }
}

@media only screen and (max-device-aspect-ratio: 1/1) {
    .desktop_menus {
        display: none;
    }

    .droper {
        width: 3rem;
        height: 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
        margin: 0;
    }

    .liner {
        height: 0.2rem;
        width: 2rem;
        background-color: #FFFFFF;
    }
}
